.page-content{
  padding-top: 100px;
}
.header{
  height: 101px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  background: $white;
  &.header-scroll{
    box-shadow: 5px 5px 10px 5px rgba(8, 12, 20, 0.2);
  }
  &-top{
    padding: 5px 0 4px;
    border-bottom: 1px solid $light;
    .container{
      display: flex;
      max-width: 1320px;
    }
  }
  &-lang{
    display: flex;
    align-items: center;
    position: relative;
    width: 85px;
    margin-right: 45px;
  }
  &-lang__media{
    width: 14px;
    height: 14px;
    .icon{
      height: inherit;
      width: inherit;
    }
  }
  &-lang__chevron{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .icon{
      height: 5px;
      fill: none;
      stroke: $gray;
    }
  }
  &-lang__title{
    font-family: $monserant;
    font-weight: 500;
    color: $default;
    font-size: 13px;
    line-height: 16px;
  }
  &-lang__list{
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  &-social{
    ul{
      display: flex;
    }
    li{
      margin: 0 5px;
    }
    a{
      .icon{
        fill: $default;
        width: 14px;
        height: 14px;
      }
      &:hover{
        .icon{
          fill: $primary;
        }
      }
    }
  }
  &-search{
    margin: 0 60px 0 auto;
    button{
      background: transparent;
      width: 14px;
      height: 14px;
      margin-right: 10px;
      .icon{
        width: 14px;
        height: 14px;
        position: relative;
        top: 2px;
      }
    }
    input{
      border: 0;
      font-size: 13px;
      line-height: 16px;
      color: $default;
      font-weight: 500;
      font-family: $monserant;
      outline: none;
      &:focus{
        border-bottom: 1px solid $primary;
      }
    }
  }
  &-login{
    display: flex;
    align-items: center;
  }
  &-login__media{
    height: 20px;
    margin-right: 5px;
    .icon{
      fill: $gray-100;
    }
  }
  &-login__title{
    font-family: $monserant;
    font-weight: 500;
    color: $default;
    font-size: 13px;
    line-height: 16px;
  }
  &-bottom{
    padding: 15px 0 16px;
    .container{
      display: flex;
      align-items: center;
      max-width: 1320px;
    }
  }
  &-logo{
    width: 290px;
    a{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    img{
      width: 130px;
    }

  }
  &-logo__text{
    width: 122px;
    font-family: $monserant;
    font-weight: 400;
    color: $default;
    font-size: 12px;
    line-height: 14px;
  }
  &-nav{
    margin: 0 auto;
  }
  &-nav__list{
    display: flex;
    li{
      margin: 0 10px;
    }
    a{
      font-family: $monserant;
      font-weight: 500;
      color: $default;
      font-size: 15px;
      line-height: 15px;
      &:hover{
        color: $primary;
      }
    }
  }
  &-phone{
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  &-phone__link{
    font-family: $monserant;
    color: $default;
    font-size: 18px;
    font-weight: 600;
  }
  &-phone__btn{
    font-family: $monserant;
    color: $primary;
    font-size: 12px;
    font-weight: 400;
    background: transparent;
    width: 100%;
    text-align: right;
  }
}