@media screen and (max-width: 1320px) {
  .header-btn{
    display: block;
    margin: 0 0 0 40px;
    width: 28px;
    height: 18px;
    box-sizing: border-box;
    border-top: 2px solid $default;
    border-bottom: 2px solid $default;
    cursor: pointer;
    position: relative;
    span{
      height: 2px;
      width: 100%;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 0;
      background: $default;
      transition: all ease 300ms;
      transform: rotate(0);
    }
    &.is-open{
      border-color: transparent;
      span{
        &:nth-child(1){
          transform: rotate(-45deg);
        }
        &:nth-child(2){
          transform: rotate(-135deg);
        }
      }
    }
  }
  .header-phone{
    margin: 0 0 0 auto;
  }
  .header-bottom{
    position: relative;
  }
  .header-nav{
    position: absolute;
    transition: all ease 300ms;
    top: 100%;
    z-index: 5;
    background: $light;
    width: 100%;
    right: -100%;
    max-width: 375px;
    box-shadow: 0px 10px 9px 0px rgba(0,0,0,0.25);
    &.is-open{
      right: 0;
    }
    &__list{
      flex-direction: column;
      padding: 15px 0;
    }
    li{
      margin-bottom: 5px;
    }
    a{
      border:1px solid  $gray;
      display: block;
      padding:13px 15px 14px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .main-slide{
    &__title{
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 20px;
      span{
        font-size: 70px;
        line-height: 70px;
      }
    }
    &__media{
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .service-media{
    width: 80%;
    margin: 0 auto;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .main-slider{
    .slick-dots{
      display: flex;
      justify-content: center;
      margin: 0 -3px 20px;
      li{
        margin: 0 3px;
        height: 8px;
        line-height: 0;
        button{
          width: 8px;
          height: 8px;
          box-sizing: border-box;
          border:1px solid $default;
          background: $white;
          font-size: 0;
          border-radius: 50%;
        }
        &.slick-active{
          button{
            background: $default;}
        }
      }
    }
  }
  .about-wrapper{
    &:before{
      width: 270px;
    }
    .pattern-item__right{
      display: none;
    }
  }
  .service-info {
    .section-subtitle{
      font-size: 18px;
      line-height: 26px;
    }
  }
  .map-wrapper {
    .pattern-item{
      bottom: -30px;
    }
  }
  .main-call__white{
    width: 100%;
  }
  .news-wrapper {
    .slick-prev{
      left: 0;
    }
    .slick-next{
      right: 0;
    }
  }
  .brands-item{
    max-width: calc(232px - 2px);
  }
}
@media screen and (max-width: 992px) {
  section{
    padding: 40px 0;
  }
  .section-title{
    font-size: 30px;
    margin-bottom: 30px;
  }
  .main-slide{
    &__title{
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 20px;
      span{
        font-size: 60px;
        line-height: 60px;
      }
    }
    &__text{
      font-size: 16px;
      line-height: 24px;
    }
  }
  .about-wrapper{
    &:before{
      width: 183px;
    }
  }
  .about-media{
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .service-wrapper{
    .col-lg-6{
      display: none;
    }
    .col-md-6{
      &:last-of-type{
        .pattern-item{
          top: 40%;
        }
      }
      &:first-of-type{
        .pattern-item{
          left: 120px;
        }
      }
      .pattern-item{
        display: block;
      }
    }
  }
  .service-media{
    display: none;
  }
  .advantage-wrapper{
    padding: 40px 0;
    &:after{
      width: 100%;
      top: 50%;
    }
  }
  .advantage__info{
    padding-right: 0;
    margin-bottom: 20px;
  }
  .advantage-wrap{
    padding-top: 40px;
    &:before{
      position: absolute;
      content: '';
      left: -15px;
      top: 0;
      background: $primary;
      height: 100%;
      width: calc(100% + 30px);
    }
  }
  .advantage-item{
    &:hover{
      transform: scale(1);
      box-shadow: none;
    }
  }
  .map-wrapper{
    .row{
      flex-direction: column-reverse;
      text-align: center;
    }
    .section-title{
      text-align: center;
    }
    .pattern-item{
      display: none;
    }
    .counter-block{
      padding-left: 0;
      padding-top: 20px;
      &:before{
        width: 50px;
        height: 3px;
        right: 0;
        left: 0;
        margin: 0 auto;
      }
    }
  }
  .map-media{
    padding-top: 20px;
    img{
      width: 100%;
      height: 100%;
      max-width: 546px;
      margin: 0 auto;
      object-fit: contain;
    }
  }
  .work-wrap{
    flex-direction: column;
    max-width: 610px;
    margin: 0 auto;
    &:after{
      height: 90%;
      top: 0;
      width: 1px;
      right: 0;
      margin: 0 auto;
    }
  }
  .work-item{
    max-width: 350px;
    display: flex;
    align-items: center;
    &:nth-child(2n){
      flex-direction: row;
      margin: 0 0 0 auto;
    }
    &:nth-child(2n+1){
      margin: 0 auto 0 0;
      flex-direction: row-reverse;
    }
  }
  .banner-wrapper{
    .banner-media{
      position: relative;
      left: -60px;
      &:before{
        left: -20px;
        right: 0;
        top: 60%;
        margin-top: -190px;
        width: 300px;
        height: 300px;
      }
    }
    .main-call__white{
      flex-direction: column-reverse;
      align-items: flex-start;
      .link-white{
        margin-top: 15px;
      }
    }
    .pattern-item__left{
      display: none;
    }
    .pattern-item__right{
      right: 0;
    }
  }
  .news-wrapper {
    .slick-arrow{
      width: 46px;
      height: 46px;
    }
  }
  .brands-wrap{
    justify-content: center;
  }
  .brands-item{
    max-width: calc(25% - 2px);
    &:hover{
      transform: scale(1);
      box-shadow: none;
    }
  }
  .footer-nav__list{
    li{
      width: 100%;
    }
  }
}
@media screen and (max-width: 768px) {

  .header-search{
    margin: 0 20px 0 auto;
  }
  .main-slider{
    .pattern-item__right{
      display: none;
    }
    .col-4{
      overflow: hidden;
    }
    .main-slide__media{
      img{
        width: auto;
        height: auto;
        object-fit: contain;
        max-width: 310px;
      }
    }
  }
  .about-wrapper{
    &:before{
      width: 100%;
      height: 220px;
      max-width: 100%;
    }
    .pattern-item {
      margin: -80px auto 0;
      left: 0;
      right: 0;
      height: 109px;
      width: 100%;
      max-width: 366px;
    }
  }
  .about-media{
    img{
      max-width: 260px;
      margin: 0 auto;
    }
  }
  .service-wrapper{
    .pattern-item{
      display: none !important;
    }
    .service-info{
      display: none;
    }
    .service-item{
      flex-wrap: wrap;
      &.is-open{
        .service-item__title{
          svg{
            transform: rotate(180deg);
          }
        }
        .site-list{
          display: block;
          margin:10px 0 0;
        }
      }
    }
    .service-item__list{
      width: 100%;
    }
  }
  .site-list{
    margin-bottom: 30px;
    li{
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 10px;
    }
  }
  .service-item__media {
    width: 30px;
  }
  .service-item__title{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px);
    svg{
      display: block;
      fill: none;
      stroke: #A1A4B3;
    }
  }
  .service-wrap{
    margin: 0 -15px;
  }
  .service-item{
    padding: 15px;
    border: 1px solid $gray;
  }
  .work-wrap{
    max-width: 500px;
  }
  .work-item{
    max-width: 295px;}
  .banner-wrapper {
    padding: 40px 0;
    .banner-media {
      display: none;
    }
    .main-call{
      a{
        margin-bottom: 0;
      }
    }
  }
  .brands-item{

    max-width: calc(33.33333% - 2px);
  }
  .footer {
    .footer-copy{
      margin-bottom: 30px;
    }
  }
  .footer {
    .call-me{
      label{
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
      button{
        position: relative;
        right: 0;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .work-wrapper{
    .section-title{
      text-align: center;
    }
  }
  .work-wrap{
    max-width: 100%;
    &:after{
      left: calc(-100% - -90px);
    }
  }
  .work-item{
    flex-direction: row !important;
    margin: 0 !important;
    max-width: 375px !important;
  }
  .section-title{
    text-align: left;
    font-size: 30px;
    line-height: 36px;
  }
  .header{
    &-search{
      label{
        display: none;
      }
    }
    &-login__title{
      display: none;
    }
    &-logo{
      width: auto;
    }
    &-logo__text{
      display: none;
    }
    &-phone__link{
      font-size: 16px;
    }
  }

  .main-slide{
    &__title{
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 10px;
      span{
        font-size: 48px;
        line-height: 48px;
      }
    }
    &__text{
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
  .advantage-item{
    width: 100%;
    border-right: 0 !important;
    border-bottom: 1px solid $gray !important;
  }
 .popup{
   &-centered{
     max-width: 300px;
   }
   &-form{
     form{
       margin: 0;
     }
     label{
       display: inline-block;
       width: 100%;
       margin: 0 0 15px;
     }
   }
 }
}
@media screen and (max-width: 480px) {
  .header-nav{
    max-width: 100%;
    height: calc(100vh - 100px);
    overflow: auto;
  }
  .brands-item{
    max-width: calc(50% - 2px);

  }
  .footer-info{
    a{
      font-size: 14px;
    }
  }
  .footer {
    .call-me{
      input{width: 100%;}
    }
  }
}
@media screen and (max-width: 400px) {
  .header{
    &-logo{
      img{
        width: 100px;
      }
    }
  }
  .header-lang{
    margin-right: 0;
  }
  .header-social{
    margin: 0 auto;
  }
}
@media screen and (max-width: 350px) {
  .header{
    &-logo{
      img{
        width: 80px;
      }
    }
    &-phone__link{
      font-size: 14px;
    }
    &-btn{
      margin: 0 0 0 20px;
    }
  }
  .footer-info{
    a{
      font-size: 13px;
    }
    input{
      width: 100%;
    }
  }
}