body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: $default;
  background-color: $white;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
  font-family: $monserant;
}
h1 {
  font-size: 42px;
  line-height: 42px;
  color: $default;
}

h2 {
  font-size: 42px;
  line-height: 42px;
  color: $default;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  color: $default;
}

h4 {
  font-size: 16px;
  line-height: 28px;
  color: $default;
}

h5 {
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

h6 {
  font-size: 14px;
  line-height: 21px;
  color: $default;
}

p {
  font-size: 14px;
  line-height: 23px;
}
.slick-slide{
  outline: none !important;
}
a{
  outline: none !important;
}
img {
  display: block;
  //width: 100%;
  font-size: 12px;
  line-height: 14px;
}

section {
  position: relative;
  padding: 90px 0;
  z-index: 1;
}
.label{
  font-family: $monserant;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.input{
  border:1px solid  $gray;
  height: 46px;
  padding: 10px;
  font-family: $monserant;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $default;
}
.textarea{
  border:1px solid  $gray;
  height: 46px;
  padding: 10px;
  font-family: $monserant;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $default;
  outline: none;
  resize: none;
}
input{
  outline: none;
}
.section {
  position: relative;
  padding: 100px 0;
}

.row.min {
  margin-left: -5px;
  margin-right: -5px;
}

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.overflow {
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

a,
button,
input,
select,
textarea,
textarea,
span,
.icon {
  transition: all 150ms ease;
}
button{
  cursor: pointer;
}
.wysiwyg{
  font-size: 16px;
  line-height: 24px;
  color: $default;
  p{
    font-size: 16px;
    line-height: 24px;
    color: $default;
    margin-bottom: 16px;
  }
}

.section-title{
  font-size: 36px;
  line-height: 42px;
  color: $default;
  font-family: $monserant;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
  h2{
    font-size: inherit;
    line-height: inherit;
  }
}
.page-title{
  font-size: 24px;
  line-height: 30px;
  color: $default;
  font-family: $monserant;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.section-title__white{
  color: $white;
  text-align: left;
  h2{
    color: inherit;
  }
}
.section-text{
  font-family: $monserant;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: $default;
  position: relative;
  margin-bottom: 20px;
}
.section-text__white{
  color: $white;
}
.title-wrap{
  font-size: 24px;
  line-height: 24px;
  color: $black;
  font-family: $monserant;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.subtitle-section{
  font-size: 20px;
  line-height: 25px;
  color: $default;
  font-family: $monserant;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
}

.btn{
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-family: $monserant;
  font-weight: 400;
  min-width: 240px;
}

.main-call{
  display: flex;
  flex-direction: column;
  max-width: 250px;
  a{
    font-family: $monserant;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $default;
    margin-bottom: 15px;
  }
  .btn-blue{
    font-family: $monserant;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: $white;
    height: 50px;
    padding: 10px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: $primary;
    &:hover{
      background: $secondary;
    }
  }
  .btn-white{
    font-family: $monserant;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: $secondary;
    height: 50px;
    padding: 10px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: $white;
    &:hover{
      background: $light;
    }
  }
  .link-white{
    color: $white;
  }
}
.main-call__white{
  flex-direction: row-reverse;
  width: 80%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  .btn-white{
    margin-bottom: 0;
  }
}
.site-list{
  margin-bottom: 50px;
  li{
    font-family: $monserant;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $default;
    padding-left: 25px;
    position: relative;
    margin-bottom: 20px;
    &:before{
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      margin-top: -4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $secondary;
    }
  }
}

.pattern-item{
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: -1;
  &:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("../images/general/pattern.png") repeat top left;
  }

}
.bread-crumbs{
  background: $light;
  padding: 12px 0;
  margin-bottom: 60px;
  &__list{
    display: flex;
    align-items: center;
  }
  &__item{
    font-family: $monserant;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $gray-100;
    position: relative;
    margin-right: 23px;
    &:after{
      position: absolute;
      content: '';
      right: -16px;
      top: 50%;
      margin-top: -1px;
      background: url("../images/svg/ic-chevron.svg") no-repeat;
      width: 8px;
      height: 5px;
      transform: rotate(-90deg);
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
  &__link{
    font-family: $monserant;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $default;
  }
}
.call-me{
  margin-top: 10px;
  input{
    background: $light;
    border: 0;
    outline: none;
    color: #A1A4B3;
    font-size: 14px;
    line-height: 16px;
    height: 32px;
    font-family: $monserant;
    font-weight: 400;
    padding: 10px;
  }
  button{
    width: 80px;
    max-width: initial;
    min-width: 50px;
    position: absolute;
    right: 15px;
    background: $primary;
    font-size: 13px;
    color: $white;
    font-family: $monserant;
    font-weight: 400;
    padding: 5px;
    max-height: 32px;
    height: 32px;
    &:hover{
      background: $secondary;
    }
  }
}
.page-sidebar{

}
.sidebar{
  &-slider{
    margin-bottom: 30px;
    .slick-arrow{
      z-index: 2;
      position: absolute;
      top: 50%;
      margin-top: -15px;
      width: 30px;
      height: 30px;
      background: rgba($default-100, .2);
      border-radius: 50%;
      &:hover{
        background: rgba($default-100, .5);
      }
      .icon{
        fill: none;
        stroke: $white;
        width: 12px;
        height: 12px;
      }
    }
    .slick-prev{
      left: 10px;
      transform: rotate(180deg);
    }
    .slick-next{
      right: 10px;
    }
  }
  &-title{
    font-size: 18px;
    line-height: 18px;
    font-family: $monserant;
    color: $default;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &-info{
    &:last-of-type{
      margin-bottom: 30px;
    }
    font-size: 12px;
    line-height: 16px;
    font-family: $monserant;
    color: $default;
    font-weight: 400;
    a{
      margin-top: 5px;
      font-size: 16px;
      line-height: 16px;
      font-family: $monserant;
      color: $default;
      font-weight: 500;
      display: block;
    }

    margin-bottom: 20px;
  }
}
.hide-scroll{
  overflow: hidden;
}
.popup{
  opacity: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: fixed;
  transition: all ease 300ms;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &.active{
    left: 0;
    z-index: 100;
    opacity: 1;
  }
  &-centered{
    position: absolute;
    z-index: 2;
    max-width: 500px;
    background: $white;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  &-close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 18px;
    box-sizing: border-box;
    cursor: pointer;
    span{
      height: 2px;
      width: 100%;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 0;
      background: $default;
      transition: all ease 300ms;
      transform: rotate(0);
      &:nth-child(1){
        transform: rotate(-45deg);
      }
      &:nth-child(2){
        transform: rotate(-135deg);
      }
    }
  }
  &-title{
    font-family: $monserant;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $default;
    text-align: center;
    margin-bottom: 30px;
  }
  &-form{
    form{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
      font-size: 0;
    }
    label{
      display: inline-block;
      width: calc(50% - 30px);
      margin: 0 15px;
    }
    input{
      width: 100%;
    }
    .btn-blue{
      font-family: $monserant;
      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
      color: $white;
      height: 50px;
      max-width: 215px;
      min-width: 215px;
      padding: 10px 10px;
      margin: 20px auto;
      box-sizing: border-box;
      background: $primary;
      &:hover{
        background: $secondary;
      }
    }
  }
  &-text{
    font-family: $monserant;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $default;
  }
  &-overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($default, .5);
  }
}
.page-form{
  padding: 0 0 90px;
  .section-title{
    text-align: center;
  }
  .section-text{
    margin-bottom: 60px;
    text-align: center;
  }
  .btn-blue{
    font-family: $monserant;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: $white;
    height: 50px;
    padding: 10px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: $primary;
    &:hover{
      background: $secondary;
    }
  }
}
.page-form__wrap{
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}
.form-item{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 500;
  font-family: $monserant;
  line-height: 24px;
  color: $default;
  .label{
    width: 100%;
    display: block;
    margin-top: 5px;
  }
  input{
    width: 100%;
  }
  .textarea{
    min-height: 361px;
    width: 100%;
    margin-bottom: 10px;
  }
}